.spend {
  position: relative; /* Добавляем относительное позиционирование */
  background-image: url(https://static.wixstatic.com/media/c837a6_678a6092e54043ed9b4081c2463ed428~mv2.jpg/v1/fill/w_2537,h_953,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/c837a6_678a6092e54043ed9b4081c2463ed428~mv2.jpg);
  width: 100%;
  height: 60vh;
  background-size: cover; /* Используем cover вместо 100% */
  background-repeat: no-repeat;
  color: white;
}

.spend div {
  width: 600px;
  text-align: center;
  margin: 0 auto; /* Убираем вертикальный отступ и делаем горизонтальное центрирование */
  position: absolute;
  top: 50%; /* Помещаем блок по вертикали в середину родительского контейнера */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.spend div h2 {
  font-size: 75px;
  font-weight: bold;
}

.spend div p {
  font-size: 25px;
}

.spend div button {
  border: 0;
  border-radius: 50px;
  background-color: rgb(136, 88, 237);
  color: white;
  margin: 10px 0;
  font-weight: bolder;
  cursor: pointer;
  width: 155px;
  height: 42px;
  transition: 0.7s;
}

.spend div button:hover {
  background-color: white;
  color: rgb(136, 88, 237);
  width: 155px;
  height: 42px;
  border: 2px solid rgb(136, 88, 237);
}
